[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
opencv-python = "*"
folium = "*"
pathlib = "*"
mysql-connector-python = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.8"
